In [1]:
from numpy.random import seed
seed(1)

In [2]:
# Dependencies
import numpy as np
import pandas as pd
import tensorflow
tensorflow.keras.__version__

'2.4.0'

In [3]:
import os

In [4]:
activity = pd.read_csv(os.path.join('andrew_data2.csv'))
activity.head()

,id,type,type_m,x_gear_name,start_date_local,x_start_h,name,x_min,x_km,x_min/km,...,start_longitude,timezone,total_photo_count,trainer,upload_id,upload_id_str,utc_offset,x_date,x_elev_%,x_url
0,2850013230,Run,Hike,NaN,07.11.2019 16:46:32,16.8,Afternoon Run,42.1,0.458,92.08,...,NaN,(GMT-08:00) America/Los_Angeles,0,1,3022102505,3022102505,-28800,2019-11-07,NaN,https://www.strava.com/activities/2850013230
1,2895327719,Run,Hike,NaN,22.11.2019 17:05:04,17.1,Afternoon Run,20.1,0.234,85.91,...,NaN,(GMT-08:00) America/Los_Angeles,0,1,3077242534,3077242534,-28800,2019-11-22,NaN,https://www.strava.com/activities/2895327719
2,2832492215,Run,Hike,NaN,31.10.2019 15:41:16,15.7,Afternoon Run,62.1,0.870,71.53,...,NaN,(GMT-08:00) America/Los_Angeles,0,1,3002283821,3002283821,-25200,2019-10-31,NaN,https://www.strava.com/activities/2832492215
3,2832492192,Run,Hike,NaN,28.10.2019 15:17:05,15.3,Afternoon Run,42.1,0.686,61.27,...,NaN,(GMT-08:00) America/Los_Angeles,0,1,3002283809,3002283809,-25200,2019-10-28,NaN,https://www.strava.com/activities/2832492192
4,2877878037,Run,Hike,NaN,18.11.2019 16:00:16,16.0,Afternoon Run,52.1,0.907,57.47,...,NaN,(GMT-08:00) America/Los_Angeles,0,1,3055046850,3055046850,-28800,2019-11-18,NaN,https://www.strava.com/activities/2877878037

In [5]:
activity_clean = activity[["type_m", "x_start_h", "x_min", "average_heartrate", "max_heartrate", "average_cadence"]]
activity_clean.head()

  type_m  x_start_h  x_min  average_heartrate  max_heartrate  average_cadence
0   Hike       16.8   42.1              127.2          161.0             42.3
1   Hike       17.1   20.1              114.8          148.0             43.0
2   Hike       15.7   62.1              118.6          156.0             43.5
3   Hike       15.3   42.1              125.4          156.0             46.7
4   Hike       16.0   52.1              137.4          154.0             44.7

In [6]:
data2 = activity_clean.dropna()
data2.head()

  type_m  x_start_h  x_min  average_heartrate  max_heartrate  average_cadence
0   Hike       16.8   42.1              127.2          161.0             42.3
1   Hike       17.1   20.1              114.8          148.0             43.0
2   Hike       15.7   62.1              118.6          156.0             43.5
3   Hike       15.3   42.1              125.4          156.0             46.7
4   Hike       16.0   52.1              137.4          154.0             44.7

In [7]:
y = data2["type_m"]
target_names = ["Hike", "Elliptical", "Run"]
X = data2.drop("type_m", axis=1)
X.head()

   x_start_h  x_min  average_heartrate  max_heartrate  average_cadence
0       16.8   42.1              127.2          161.0             42.3
1       17.1   20.1              114.8          148.0             43.0
2       15.7   62.1              118.6          156.0             43.5
3       15.3   42.1              125.4          156.0             46.7
4       16.0   52.1              137.4          154.0             44.7

In [8]:
print(X.shape, y.shape)

(408, 5) (408,)

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [10]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1)

In [11]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [13]:
# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [14]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [15]:
# Create model and add layers
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=5))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=3, activation='softmax'))

In [16]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [17]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               600
_________________________________________________________________
dense_1 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_2 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_3 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_4 (Dense)              (None, 3)                 303
=================================================================
Total params: 31,203
Trainable params: 31,203
Non-trainable params: 0
_________________________________________________________________

In [18]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=60,
    shuffle=True,
    verbose=2
)

Epoch 1/60
10/10 - 0s - loss: 0.8175 - accuracy: 0.8072
Epoch 2/60
10/10 - 0s - loss: 0.5427 - accuracy: 0.8039
Epoch 3/60
10/10 - 0s - loss: 0.5011 - accuracy: 0.8039
Epoch 4/60
10/10 - 0s - loss: 0.4427 - accuracy: 0.8039
Epoch 5/60
10/10 - 0s - loss: 0.3706 - accuracy: 0.8039
Epoch 6/60
10/10 - 0s - loss: 0.3058 - accuracy: 0.8627
Epoch 7/60
10/10 - 0s - loss: 0.2651 - accuracy: 0.8954
Epoch 8/60
10/10 - 0s - loss: 0.2368 - accuracy: 0.9216
Epoch 9/60
10/10 - 0s - loss: 0.2191 - accuracy: 0.9477
Epoch 10/60
10/10 - 0s - loss: 0.2078 - accuracy: 0.9444
Epoch 11/60
10/10 - 0s - loss: 0.1993 - accuracy: 0.9510
Epoch 12/60
10/10 - 0s - loss: 0.1925 - accuracy: 0.9510
Epoch 13/60
10/10 - 0s - loss: 0.1860 - accuracy: 0.9510
Epoch 14/60
10/10 - 0s - loss: 0.1879 - accuracy: 0.9444
Epoch 15/60
10/10 - 0s - loss: 0.1762 - accuracy: 0.9477
Epoch 16/60
10/10 - 0s - loss: 0.1770 - accuracy: 0.9477
Epoch 17/60
10/10 - 0s - loss: 0.1621 - accuracy: 0.9575
Epoch 18/60
10/10 - 0s - loss: 0.1591 - accuracy: 0.9575
Epoch 19/60
10/10 - 0s - loss: 0.1485 - accuracy: 0.9575
Epoch 20/60
10/10 - 0s - loss: 0.1472 - accuracy: 0.9641
Epoch 21/60
10/10 - 0s - loss: 0.1349 - accuracy: 0.9608
Epoch 22/60
10/10 - 0s - loss: 0.1308 - accuracy: 0.9608
Epoch 23/60
10/10 - 0s - loss: 0.1293 - accuracy: 0.9641
Epoch 24/60
10/10 - 0s - loss: 0.1293 - accuracy: 0.9542
Epoch 25/60
10/10 - 0s - loss: 0.1256 - accuracy: 0.9608
Epoch 26/60
10/10 - 0s - loss: 0.1194 - accuracy: 0.9608
Epoch 27/60
10/10 - 0s - loss: 0.1106 - accuracy: 0.9641
Epoch 28/60
10/10 - 0s - loss: 0.1128 - accuracy: 0.9641
Epoch 29/60
10/10 - 0s - loss: 0.1317 - accuracy: 0.9542
Epoch 30/60
10/10 - 0s - loss: 0.1043 - accuracy: 0.9608
Epoch 31/60
10/10 - 0s - loss: 0.1084 - accuracy: 0.9575
Epoch 32/60
10/10 - 0s - loss: 0.1080 - accuracy: 0.9608
Epoch 33/60
10/10 - 0s - loss: 0.1210 - accuracy: 0.9542
Epoch 34/60
10/10 - 0s - loss: 0.1182 - accuracy: 0.9608
Epoch 35/60
10/10 - 0s - loss: 0.1003 - accuracy: 0.9608
Epoch 36/60
10/10 - 0s - loss: 0.0826 - accuracy: 0.9673
Epoch 37/60
10/10 - 0s - loss: 0.0804 - accuracy: 0.9706
Epoch 38/60
10/10 - 0s - loss: 0.0810 - accuracy: 0.9673
Epoch 39/60
10/10 - 0s - loss: 0.0780 - accuracy: 0.9739
Epoch 40/60
10/10 - 0s - loss: 0.0821 - accuracy: 0.9673
Epoch 41/60
10/10 - 0s - loss: 0.0727 - accuracy: 0.9771
Epoch 42/60
10/10 - 0s - loss: 0.0670 - accuracy: 0.9771
Epoch 43/60
10/10 - 0s - loss: 0.0683 - accuracy: 0.9771
Epoch 44/60
10/10 - 0s - loss: 0.0647 - accuracy: 0.9837
Epoch 45/60
10/10 - 0s - loss: 0.0596 - accuracy: 0.9837
Epoch 46/60
10/10 - 0s - loss: 0.0894 - accuracy: 0.9706
Epoch 47/60
10/10 - 0s - loss: 0.0893 - accuracy: 0.9771
Epoch 48/60
10/10 - 0s - loss: 0.0762 - accuracy: 0.9739
Epoch 49/60
10/10 - 0s - loss: 0.0719 - accuracy: 0.9804
Epoch 50/60
10/10 - 0s - loss: 0.0686 - accuracy: 0.9771
Epoch 51/60
10/10 - 0s - loss: 0.0609 - accuracy: 0.9804
Epoch 52/60
10/10 - 0s - loss: 0.0606 - accuracy: 0.9837
Epoch 53/60
10/10 - 0s - loss: 0.0625 - accuracy: 0.9837
Epoch 54/60
10/10 - 0s - loss: 0.0495 - accuracy: 0.9869
Epoch 55/60
10/10 - 0s - loss: 0.0454 - accuracy: 0.9902
Epoch 56/60
10/10 - 0s - loss: 0.0486 - accuracy: 0.9837
Epoch 57/60
10/10 - 0s - loss: 0.0462 - accuracy: 0.9869
Epoch 58/60
10/10 - 0s - loss: 0.0474 - accuracy: 0.9902
Epoch 59/60
10/10 - 0s - loss: 0.0554 - accuracy: 0.9804
Epoch 60/60
10/10 - 0s - loss: 0.0644 - accuracy: 0.9771

In [19]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

WARNING:tensorflow:Callbacks method `on_test_batch_end` is slow compared to the batch time (batch time: 0.0000s vs `on_test_batch_end` time: 0.0010s). Check your callbacks.
4/4 - 0s - loss: 0.2939 - accuracy: 0.9412
Normal Neural Network - Loss: 0.2939487397670746, Accuracy: 0.9411764740943909

In [20]:
encoded_predictions = model.predict_classes(X_test_scaled[:5])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

WARNING:tensorflow:From <ipython-input-20-4db8b0f5c0b2>:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).

In [21]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:5])}")

Predicted classes: ['Hike' 'Run' 'Run' 'Run' 'Run']
Actual Labels: ['Run', 'Run', 'Run', 'Run', 'Run']