In [1]:
from numpy.random import seed
seed(1)

In [2]:
# Dependencies
import numpy as np
import pandas as pd
import tensorflow
tensorflow.keras.__version__

'2.4.0'

In [3]:
import os

In [4]:
activity = pd.read_csv(os.path.join('andrew_data2.csv'))
activity.head()

,id,type,type_m,x_gear_name,start_date_local,x_start_h,name,x_min,x_km,x_min/km,...,start_longitude,timezone,total_photo_count,trainer,upload_id,upload_id_str,utc_offset,x_date,x_elev_%,x_url
0,2850013230,Run,Hike,NaN,07.11.2019 16:46:32,16.8,Afternoon Run,42.1,0.458,92.08,...,NaN,(GMT-08:00) America/Los_Angeles,0,1,3022102505,3022102505,-28800,2019-11-07,NaN,https://www.strava.com/activities/2850013230
1,2895327719,Run,Hike,NaN,22.11.2019 17:05:04,17.1,Afternoon Run,20.1,0.234,85.91,...,NaN,(GMT-08:00) America/Los_Angeles,0,1,3077242534,3077242534,-28800,2019-11-22,NaN,https://www.strava.com/activities/2895327719
2,2832492215,Run,Hike,NaN,31.10.2019 15:41:16,15.7,Afternoon Run,62.1,0.870,71.53,...,NaN,(GMT-08:00) America/Los_Angeles,0,1,3002283821,3002283821,-25200,2019-10-31,NaN,https://www.strava.com/activities/2832492215
3,2832492192,Run,Hike,NaN,28.10.2019 15:17:05,15.3,Afternoon Run,42.1,0.686,61.27,...,NaN,(GMT-08:00) America/Los_Angeles,0,1,3002283809,3002283809,-25200,2019-10-28,NaN,https://www.strava.com/activities/2832492192
4,2877878037,Run,Hike,NaN,18.11.2019 16:00:16,16.0,Afternoon Run,52.1,0.907,57.47,...,NaN,(GMT-08:00) America/Los_Angeles,0,1,3055046850,3055046850,-28800,2019-11-18,NaN,https://www.strava.com/activities/2877878037

In [5]:
activity_clean = activity[["type_m", "x_start_h", "x_min", "average_heartrate", "max_heartrate", "average_cadence"]]
activity_clean.head()

  type_m  x_start_h  x_min  average_heartrate  max_heartrate  average_cadence
0   Hike       16.8   42.1              127.2          161.0             42.3
1   Hike       17.1   20.1              114.8          148.0             43.0
2   Hike       15.7   62.1              118.6          156.0             43.5
3   Hike       15.3   42.1              125.4          156.0             46.7
4   Hike       16.0   52.1              137.4          154.0             44.7

In [6]:
data2 = activity_clean.dropna()
data2.head()

  type_m  x_start_h  x_min  average_heartrate  max_heartrate  average_cadence
0   Hike       16.8   42.1              127.2          161.0             42.3
1   Hike       17.1   20.1              114.8          148.0             43.0
2   Hike       15.7   62.1              118.6          156.0             43.5
3   Hike       15.3   42.1              125.4          156.0             46.7
4   Hike       16.0   52.1              137.4          154.0             44.7

In [7]:
y = data2["type_m"]
target_names = ["Hike", "Elliptical", "Run"]
X = data2.drop("type_m", axis=1)
X.head()

   x_start_h  x_min  average_heartrate  max_heartrate  average_cadence
0       16.8   42.1              127.2          161.0             42.3
1       17.1   20.1              114.8          148.0             43.0
2       15.7   62.1              118.6          156.0             43.5
3       15.3   42.1              125.4          156.0             46.7
4       16.0   52.1              137.4          154.0             44.7

In [8]:
print(X.shape, y.shape)

(408, 5) (408,)

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [10]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1)

In [11]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [13]:
# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [14]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [27]:
# Create model and add layers
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=5))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=3, activation='softmax'))

In [28]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [29]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_12 (Dense)             (None, 100)               600
_________________________________________________________________
dense_13 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_14 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_15 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_16 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_17 (Dense)             (None, 3)                 303
=================================================================
Total params: 41,303
Trainable params: 41,303
Non-trainable params: 0
_________________________________________________________________

In [30]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=60,
    shuffle=True,
    verbose=2
)

Epoch 1/60
10/10 - 0s - loss: 0.9228 - accuracy: 0.7255
Epoch 2/60
10/10 - 0s - loss: 0.5729 - accuracy: 0.8039
Epoch 3/60
10/10 - 0s - loss: 0.5234 - accuracy: 0.8039
Epoch 4/60
10/10 - 0s - loss: 0.4639 - accuracy: 0.8039
Epoch 5/60
10/10 - 0s - loss: 0.3925 - accuracy: 0.8039
Epoch 6/60
10/10 - 0s - loss: 0.3097 - accuracy: 0.8203
Epoch 7/60
10/10 - 0s - loss: 0.2624 - accuracy: 0.8725
Epoch 8/60
10/10 - 0s - loss: 0.2342 - accuracy: 0.8758
Epoch 9/60
10/10 - 0s - loss: 0.2216 - accuracy: 0.9379
Epoch 10/60
10/10 - 0s - loss: 0.2268 - accuracy: 0.9281
Epoch 11/60
10/10 - 0s - loss: 0.2153 - accuracy: 0.9216
Epoch 12/60
10/10 - 0s - loss: 0.2196 - accuracy: 0.9150
Epoch 13/60
10/10 - 0s - loss: 0.1986 - accuracy: 0.9444
Epoch 14/60
10/10 - 0s - loss: 0.1825 - accuracy: 0.9379
Epoch 15/60
10/10 - 0s - loss: 0.1752 - accuracy: 0.9444
Epoch 16/60
10/10 - 0s - loss: 0.1639 - accuracy: 0.9477
Epoch 17/60
10/10 - 0s - loss: 0.1543 - accuracy: 0.9510
Epoch 18/60
10/10 - 0s - loss: 0.1494 - accuracy: 0.9412
Epoch 19/60
10/10 - 0s - loss: 0.1676 - accuracy: 0.9477
Epoch 20/60
10/10 - 0s - loss: 0.2001 - accuracy: 0.9379
Epoch 21/60
10/10 - 0s - loss: 0.1595 - accuracy: 0.9477
Epoch 22/60
10/10 - 0s - loss: 0.1354 - accuracy: 0.9641
Epoch 23/60
10/10 - 0s - loss: 0.1309 - accuracy: 0.9608
Epoch 24/60
10/10 - 0s - loss: 0.1352 - accuracy: 0.9575
Epoch 25/60
10/10 - 0s - loss: 0.1217 - accuracy: 0.9608
Epoch 26/60
10/10 - 0s - loss: 0.1193 - accuracy: 0.9641
Epoch 27/60
10/10 - 0s - loss: 0.1112 - accuracy: 0.9641
Epoch 28/60
10/10 - 0s - loss: 0.1146 - accuracy: 0.9641
Epoch 29/60
10/10 - 0s - loss: 0.1089 - accuracy: 0.9641
Epoch 30/60
10/10 - 0s - loss: 0.1177 - accuracy: 0.9542
Epoch 31/60
10/10 - 0s - loss: 0.1155 - accuracy: 0.9510
Epoch 32/60
10/10 - 0s - loss: 0.1148 - accuracy: 0.9575
Epoch 33/60
10/10 - 0s - loss: 0.1022 - accuracy: 0.9608
Epoch 34/60
10/10 - 0s - loss: 0.0929 - accuracy: 0.9706
Epoch 35/60
10/10 - 0s - loss: 0.0996 - accuracy: 0.9673
Epoch 36/60
10/10 - 0s - loss: 0.0942 - accuracy: 0.9641
Epoch 37/60
10/10 - 0s - loss: 0.0936 - accuracy: 0.9673
Epoch 38/60
10/10 - 0s - loss: 0.0999 - accuracy: 0.9706
Epoch 39/60
10/10 - 0s - loss: 0.0923 - accuracy: 0.9739
Epoch 40/60
10/10 - 0s - loss: 0.0924 - accuracy: 0.9673
Epoch 41/60
10/10 - 0s - loss: 0.0895 - accuracy: 0.9771
Epoch 42/60
10/10 - 0s - loss: 0.0821 - accuracy: 0.9771
Epoch 43/60
10/10 - 0s - loss: 0.0672 - accuracy: 0.9739
Epoch 44/60
10/10 - 0s - loss: 0.0706 - accuracy: 0.9739
Epoch 45/60
10/10 - 0s - loss: 0.0734 - accuracy: 0.9739
Epoch 46/60
10/10 - 0s - loss: 0.0746 - accuracy: 0.9804
Epoch 47/60
10/10 - 0s - loss: 0.0781 - accuracy: 0.9771
Epoch 48/60
10/10 - 0s - loss: 0.0786 - accuracy: 0.9706
Epoch 49/60
10/10 - 0s - loss: 0.0643 - accuracy: 0.9771
Epoch 50/60
10/10 - 0s - loss: 0.0625 - accuracy: 0.9739
Epoch 51/60
10/10 - 0s - loss: 0.0783 - accuracy: 0.9673
Epoch 52/60
10/10 - 0s - loss: 0.0996 - accuracy: 0.9608
Epoch 53/60
10/10 - 0s - loss: 0.0894 - accuracy: 0.9739
Epoch 54/60
10/10 - 0s - loss: 0.0745 - accuracy: 0.9706
Epoch 55/60
10/10 - 0s - loss: 0.0579 - accuracy: 0.9837
Epoch 56/60
10/10 - 0s - loss: 0.0510 - accuracy: 0.9869
Epoch 57/60
10/10 - 0s - loss: 0.0490 - accuracy: 0.9837
Epoch 58/60
10/10 - 0s - loss: 0.0483 - accuracy: 0.9869
Epoch 59/60
10/10 - 0s - loss: 0.0484 - accuracy: 0.9869
Epoch 60/60
10/10 - 0s - loss: 0.0444 - accuracy: 0.9935

In [32]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

4/4 - 0s - loss: 0.3335 - accuracy: 0.9314
Normal Neural Network - Loss: 0.3335152566432953, Accuracy: 0.9313725233078003

In [33]:
encoded_predictions = model.predict_classes(X_test_scaled[:5])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [34]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:5])}")

Predicted classes: ['Hike' 'Run' 'Run' 'Run' 'Run']
Actual Labels: ['Run', 'Run', 'Run', 'Run', 'Run']

In [38]:
# Calculate classification report

encoded_predictions_all = model.predict_classes(X_test_scaled)
prediction_labels_all = label_encoder.inverse_transform(encoded_predictions_all)
prediction_labels_all

array(['Hike', 'Run', 'Run', 'Run', 'Run', 'Run', 'Run', 'Run', 'Hike',
       'Run', 'Elliptical', 'Elliptical', 'Run', 'Run', 'Run', 'Run',
       'Elliptical', 'Hike', 'Run', 'Run', 'Run', 'Run', 'Run', 'Run',
       'Hike', 'Run', 'Run', 'Run', 'Run', 'Run', 'Elliptical', 'Hike',
       'Run', 'Run', 'Run', 'Run', 'Run', 'Run', 'Run', 'Run', 'Run',
       'Run', 'Run', 'Run', 'Run', 'Run', 'Run', 'Run', 'Run', 'Run',
       'Elliptical', 'Run', 'Run', 'Run', 'Run', 'Run', 'Hike', 'Run',
       'Run', 'Run', 'Elliptical', 'Run', 'Run', 'Run', 'Run', 'Hike',
       'Run', 'Run', 'Run', 'Hike', 'Run', 'Run', 'Run', 'Elliptical',
       'Elliptical', 'Run', 'Elliptical', 'Elliptical', 'Run', 'Run',
       'Run', 'Run', 'Run', 'Run', 'Hike', 'Run', 'Hike', 'Run', 'Run',
       'Run', 'Run', 'Run', 'Run', 'Run', 'Hike', 'Run', 'Run', 'Run',
       'Run', 'Run', 'Run', 'Run'], dtype=object)

In [39]:
# Calculate classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, prediction_labels_all,
                            target_names=target_names))

              precision    recall  f1-score   support

        Hike       0.90      0.75      0.82        12
  Elliptical       0.64      0.78      0.70         9
         Run       0.98      0.98      0.98        81

    accuracy                           0.93       102
   macro avg       0.84      0.83      0.83       102
weighted avg       0.94      0.93      0.93       102